header {
    background-color: #ffffff;
    border-color: #cccccc;
    border-width: 5px;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: 0px;
    text-align: center;
    vertical-align: middle;
}

.nav-bar {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

li
    {
        display: inline;
        float: clear;
    }

header a {
    float: right;
    color: #777777;
    padding: 14px 16px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    background-color: #4aaaa5;
    float: left;
    color: white;
}

h2 {
    margin-bottom: 5px;
}
.content {
    width: 930px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    align-items: center;
    border-color: #dddddd;
    position: relative;
    bottom: -40px;
    background-color: #ffffff;
    padding: 15px;
}

img {
    float: left;
    padding: 5px;
}

body {
    align-items: center;
    background-image: url(../images/gravel.png);
}

hr {
    color: #eeeeee;
    border-top: 4px solid;
    float: none;
}

.footer {
    border-top: 8px solid #4aaaa5;
    text-align: center;
    height: 25px;
    width: 960px;
    position: relative;
    bottom: -75px;
    margin: 0 auto;
    background-color: #666666;  
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    padding: 0px;
}